*{
  padding: 0;
  margin: 0;
}

body{
  background-image: linear-gradient(90deg,#b0aee0,#bc7d88);
}

.Rstyle{
  color: rgb(241, 241, 241);
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 300px;
  
}

button{
  background-color: rgb(87, 87, 116);
  color: rgb(254, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 900;
}